<h1
  class="leading-tight tracking-tight font-mont font-black text-left text-8xl"
>
  👋, I'm Harshith Ashok
</h1>

<p class="pt-10 max-w-[70%] leading-8">
  ...passionate programmer who loves crafting digital solutions. I'm skilled in
  a wide range of technologies, from web development to embedded systems. On the
  web development front, I'm proficient in both front-end and back-end
  development. I use languages like JavaScript, HTML, and CSS to create dynamic
  and visually appealing user interfaces. I've worked with popular frameworks
  like React, Vue, and Angular to build complex web applications. On the
  back-end, I've gained experience with Python, Node.js, and frameworks like
  Django and Express to power server-side logic and data management.
</p>
<p class="pt-3 max-w-[70%] leading-8">
  When it comes to embedded systems, I've had the opportunity to work with
  micro-controllers like Arduino and Raspberry Pi. I've built a variety of
  projects, from simple automation systems to IoT devices. I've also explored
  more advanced platforms like Nvidia's Jetson Nano for AI and machine learning
  applications.
</p>

<p class="pt-3 max-w-[70%] leading-8">
  Beyond coding, I'm interested in design and user experience. I use tools like
  Figma to create intuitive and visually appealing user interfaces. I'm also
  skilled in video and image editing, using tools like Davinci Resolve and GIMP
  to create multimedia content. I'm a strong advocate for open-source software
  and Linux. I've worked with various Linux distributions, including Arch Linux,
  Debian, and Ubuntu. I'm also experienced in system administration and DevOps,
  and I enjoy tinkering with virtualization technologies like Docker and
  Kubernetes. I'm always eager to learn new things and take on exciting
  challenges. I believe that technology has the power to make a positive impact
  on the world, and I'm excited to be a part of it.
</p>

<div class="flex justify-start">
  <div class="divider w-32"></div>
</div>
<div class="flex">
  <a
    class="link hover:text-purple-500 transition-all rounded-md mr-4"
    href="https://github.com/harshith-ashok"
    target="_blank"
  >
    GitHub
  </a>
  <a
    class="link hover:text-purple-500 transition-all rounded-md mr-4"
    href="https://in.linkedin.com/harshith_ashok"
    target="_blank"
  >
    LinkedIn
  </a>
</div>
