<h1 class="leading-tight font-bold text-center text-8xl">Projects</h1>
<div class="flex justify-center">
  <div class="divider w-32"></div>
</div>
<div class="flex justify-center">
  <p class="text-center text-gray-500">Much more to come!</p>
</div>

<div class="flex justify-center">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 pt-20">
    <div
      class="card border rounded-lg hover:scale-105 transition-all w-96 cursor-pointer hover:shadow-md"
    >
      <figure>
        <p class="flex px-10 pt-10 text-3xl font-bold gap-2">atmos</p>
      </figure>
      <div class="flex pt-5 justify-center">
        <div>
          <a
            class="link hover:text-purple-500 transition-all rounded-md mr-4"
            href="https://github.com/harshith-ashok/atmos"
            target="_blank"
          >
            GitHub
          </a>
        </div>
        <div>
          <a
            class="link hover:text-accent transition-all rounded-md mr-4"
            href="https://github.com/harshith-ashok/atmos"
            target="_blank"
          >
            Live
          </a>
        </div>
      </div>
      <div class="p-10 min-h-10">
        <p>
          Stay informed with accurate weather data powered by OpenWeatherMap.
          Our intuitive web app offers a minimalist design and interactive
          features, making it easy to find the weather information you need.
        </p>
      </div>
    </div>
    <div
      class="card border rounded-lg hover:scale-105 transition-all w-96 cursor-pointer hover:shadow-md"
    >
      <figure>
        <p class="flex px-10 pt-10 text-3xl font-bold gap-2">genetix</p>
      </figure>
      <div class="flex pt-5 justify-center">
        <div class="">
          <a
            class="link hover:text-purple-500 transition-all rounded-md mr-4"
            href="https://github.com/harshith-ashok/genetix"
            target="_blank"
          >
            GitHub
          </a>
        </div>
      </div>
      <div class="p-10 min-h-10">
        <p>
          This is a project to visualize the amount of people who have dominant
          and recessive traits. It uses a SQL database in the backed and the
          traits are random 50-50 integers.
        </p>
      </div>
    </div>
    <div
      class="card border rounded-lg hover:scale-105 transition-all w-96 cursor-pointer hover:shadow-md"
    >
      <figure>
        <p class="flex px-10 pt-10 text-3xl font-bold gap-2">expense-report</p>
      </figure>
      <div class="flex pt-5 justify-center">
        <div class="">
          <a
            class="link hover:text-purple-500 transition-all rounded-md mr-4"
            href="https://github.com/harshith-ashok/expense-report"
            target="_blank"
          >
            GitHub
          </a>
        </div>
      </div>
      <div class="p-10 min-h-10">
        <p>
          Expense Manager is an online application where the user can login to
          maintain his expenses and incomes. The user should be able to Tracking
          expenses and incomes by week, month and year as well as by categories
        </p>
      </div>
    </div>
  </div>
</div>
