<main>
  <div class="navbar p-10">
    <div class="navbar-start">
      <p class="flex relative pb-2 -mb-2 group text-xl font-jet text-white-600">
        Harshith Ashok
      </p>
    </div>
    <div class="navbar-end hidden lg:flex">
      <ul class="flex gap-10 justify-between cursor-pointer">
        <li>
          <a class="font-jet flex relative pb-2 -mb-2 group" href="/"
            >Home<span
              class="absolute bottom-0 left-0 opacity-0 w-[0px] transition-all duration-300 group-hover:opacity-100 group-hover:w-full h-[2px] bg-black"
            ></span
          ></a>
        </li>

        <li>
          <a class="font-jet flex relative pb-2 -mb-2 group" href="/about"
            >About<span
              class="absolute bottom-0 left-0 opacity-0 w-[0px] transition-all duration-300 group-hover:opacity-100 group-hover:w-full h-[2px] bg-black"
            ></span
          ></a>
        </li>
        <li>
          <a class="font-jet flex relative pb-2 -mb-2 group" href="/projects"
            >Projects
            <pre
              class="absolute text-sm text-black/30 font-semibold -right-5 -top-2"
            >
3</pre
            >
            <span
              class="absolute bottom-0 left-0 opacity-0 w-[0px] transition-all duration-300 group-hover:opacity-100 group-hover:w-full h-[2px] bg-black"
            ></span
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="block lg:hidden justify-center px-10 lg:px-20">
    <ul class="grid lg:flex gap-2 lg:gap-10 justify-between cursor-pointer">
      <li>
        <a class="font-jet flex relative pb-2 -mb-2 group" href="/"
          >Home<span
            class="absolute bottom-0 left-0 opacity-0 w-[0px] transition-all duration-300 group-hover:opacity-100 group-hover:w-full h-[2px] bg-black"
          ></span
        ></a>
      </li>

      <li>
        <a class="font-jet flex relative pb-2 -mb-2 group" href="/blog"
          >Blog<span
            class="absolute bottom-0 left-0 opacity-0 w-[0px] transition-all duration-300 group-hover:opacity-100 group-hover:w-full h-[2px] bg-black"
          ></span
        ></a>
      </li>
      <li>
        <a class="font-jet flex relative pb-2 -mb-2 group" href="/about"
          >About<span
            class="absolute bottom-0 left-0 opacity-0 w-[0px] transition-all duration-300 group-hover:opacity-100 group-hover:w-full h-[2px] bg-black"
          ></span
        ></a>
      </li>
      <li>
        <a class="font-jet flex relative pb-2 -mb-2 group" href="/projects"
          >Projects
          <pre
            class="absolute text-sm text-black/30 font-semibold -right-5 -top-2"
          >
3</pre
          >
          <span
            class="absolute bottom-0 left-0 opacity-0 w-[0px] transition-all duration-300 group-hover:opacity-100 group-hover:w-full h-[2px] bg-black"
          ></span
        ></a>
      </li>
    </ul>
  </div>
  <div class="p-10">
    <router-outlet></router-outlet>
  </div>
</main>
