<section class="lg:pt-24 lg:pl-20 overflow-y-hidden">
  <h1 class="leading-tight font-black font-mont text-5xl lg:text-9xl">
    I'm
    <span
      class="text-transparent bg-clip-text bg-gradient-to-r from-white to-blue-500"
      >Harshith Ashok</span
    >
    <span class="hidden lg:block">
      web dev,
      <span
        class="hover:text-transparent bg-clip-text hover:bg-gradient-to-r hover:from-white hover:to-green-500 hover:transition-all"
        >Linux</span
      >
      geek <br />&amp; Tech enthusiast
    </span>
  </h1>
  <h2 class="h3 text-gray-400 italic mb-4 text-xl font-jet py-5">
    I use
    <span
      class="tooltip tooltip-bottom underline cursor-pointer"
      data-tip="fine... its a Mac"
      >UNIX</span
    >
    btw
  </h2>
  <div class="flex">
    <a
      href="https://github.com/harshith-ashok"
      target="_blank"
      class="font-jet text-gray-400 hover:text-white"
      >Github</a
    >
    <p class="px-5">/</p>
    <a
      href="https://reddit.com/u/harshith-ashok"
      target="_blank"
      class="font-jet text-gray-400 hover:text-white"
      >Reddit</a
    >
    <p class="px-5">/</p>
    <a
      href="https://linkedin.com/in/harshith-ashok"
      target="_blank"
      class="font-jet text-gray-400 hover:text-white"
      >LinkedIn</a
    >
    <p class="px-5">/</p>
    <a
      href="https://github.com/harshith-ashok"
      target="_blank"
      class="font-jet text-gray-400 hover:text-white"
      >YouTube</a
    >
  </div>

  <div class="max-w-[600px]">
    <div class="divider w-32"></div>
    <h2 class="h3 font-bold mb-4 text-4xl font-carme">About Me</h2>
    <div class="font-jet tracking-tight">
      <p>
        I'm a coffee sipper skilled in web development (JavaScript, HTML, CSS,
        React, Vue, Angular, Python, Node.js, Django, Express) and embedded
        systems (Arduino, Raspberry Pi, Nvidia Jetson Nano). I'm also proficient
        in design tools like Figma, video editing with Davinci Resolve, and
        image editing with GIMP. I'm a strong advocate for open-source software
        and Linux, with experience in system administration and DevOps. I'm
        always eager to learn and contribute to innovative projects.
        <a href="/about" class="text-blue-400">Go to town.</a>
      </p>
    </div>
  </div>
</section>
