<section class="py-24 lg:pb-32 pl-20">
  <h1 class="leading-tight font-black font-mont text-9xl">
    I'm Harshith Ashok -<br />a freelance web developer <br />&amp; tech
    enthusiast based in
    <span class="transition-all hover:text-blue-950">Chennai, India</span>
  </h1>
  <div class="max-w-[600px] mt-24">
    <h2 class="h3 font-bold mb-4 text-4xl font-carme">About Me</h2>
    <div class="font-jet tracking-tight">
      <p>
        After developing with PHP &amp; JavaScript for over 15 years, it's kind
        of my bread and butter. I've worked in across a breadth of roles before
        going freelance full-time in 2018, so I like to believe I have a good
        understanding of the industry to help you out. Whether that's on a cool
        project you have or maybe you are an agency looking for an extra set of
        hands.&nbsp;<br /><br />Want to know a little more about me?
        <a href="/about" class="text-accent">Go to town.</a>
      </p>
    </div>
  </div>
</section>
